<div>
	<!--パスワードの合っているかの確認-->
	<form action="/renew_password/<%= @user.id%>" method="post">
		<div>
			<a>password:<input type="password" name="password" value="<% @user.password %>"></a>
			<input type="password" name="password" placeholder="Password before change">
		<input type="submit" value="edit finish">
		</div>
	</form>
</div>
