<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>chat</title>
	</head>
	<body>
		<nav>
			<div>
				<div>
					<a href="/">home</a>
				</div>
				<ul>
					<% if !current_user.nil? %>
						<h2>HELLO!  <%= current_user.name %></h2>
						<li><a href="/signout">signout</a></li>
						<li><a href="/edit/<%= current_user.id %>">edit</a></li>
						<li><a href="/list_user">ListUser</a></li>
					<% else %>
						<li>newuser?</li>
						<li><a href="/signin">Login</a></li>
						<li><a href="/signup">signup</a></li>
					<% end %>
				</ul>
			</div>
		</nav>
		<%= yield %>
	</body>
</html>
