<div>
	<h2><%= @namerooms.roomname %></h2>
	<form action="body" method="post">
		<div>
			<div>
				<input type="text" name="massage">
			</div>
			<div>
				<input type="submit" value="Transmission">
			</div>
		</div>
	</form>
</div>
