<div>
	<h2><%= @namerooms.roomname %></h2>
	<form action="/message_body/<%= @namerooms.id %>" method="post">
		<div>
			<div>
				<input type="text" name="message">
			</div>
			<div>
				<input type="submit" value="Transmission">
			</div>
		</div>
	</form>
</div>
