<div>
	<form action="/signin" method="post">
		<div>
			<div>
				<input type="text" name="mail" placeholder="email"><br>
				<input type="password" name="password" placeholder="password"><br>
				<!--input type="password" name="password_confirmation" placehoder="Once more"><br-->
			</div>
			<div>
				<input type="submit" value="Register">
			</div>
		</div>
	</form>
</div>
