<form action="/signin" method="post">
	<input type="text" name="mail" placehoder="email"><br>
	<input type="password" name="password" placehoder="password"><br>
	<!--input type="password" name="password_confirmation" placehoder="Once more"><br-->
	<input type="submit" value="Register">
</form>

